* {
    margin: 0;
    padding: 0;
  }
  .contain{
    background-color: rgb(215, 133,160);
    padding:5px 30px;
 }
.nav-area{
      float:right;
    list-style: none;
    margin-top: 20px;
    margin-right: 5%;
}
.nav-area li{ 
    display:inline-block;
}
.nav-area li a{
    
    background-color: rgb(205, 120, 319);
    text-decoration:rgb(13, 9, 21);
    font-size: 130%;
    font-family: poppins;
    border-radius: 7px;
    padding:5px 20px;
    color: rgb(32, 51, 50);
}
.nav-area li a:hover{
    background: rgb(45, 221, 204);
    color: rgb(14, 11, 10);
}
h1.heading{
   
    color: rgb(35, 29, 152);
    margin-left: 1mm;
    font-size: 200%;
    font-family: "Comic Sans MS", cursive, sans-serif,"Trebuchet MS",Helvetica, sans-serif;
    font-style: initial;
    font-variant: normal;
    padding: 5px 10px;
  }
  .show-modal{
    margin-top: 60px;
    margin-left: 450px;
    padding: 12px 20px;
  border-radius: 8px;
  color: rgb(23, 111, 179);
  font-size: 17px;
  font-weight: bold;
  cursor: auto;
  position:relative; 
  }
  .transf{
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:30px 0;
  }
  input[type=text]
{
  width:90%;
  padding: 12px 10px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.send{
  padding: 6px 10px;
  margin: 3px 0;
 background-color: rgb(162, 225, 225);
}
.cancelbtn {
  padding: 6px 10px;
  margin: 3px 0;
  background-color: #e86f66;
}
  .modal{
    padding: 12px;
    position:absolute;
    top:36%;
    left:40%;
    transform: translate(-40%,-40%);
    width:30%;
    background-color:white;
    padding: 4%;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  .hidden{
    display:none;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
  
  .close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
  .button2{
    margin-top: 60px;
    margin-left: 10px;
    padding: 12px 20px;
  border-radius: 8px;
  color: rgb(23, 111, 179);
  font-size: 17px;
  font-weight: bold;
  }
  body{
    
    background:url(image.jpg) no-repeat;
    height:594px;
   background-size: cover;
}
	
	

  #customers {
    margin-top: 30px;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
	background-color: #DD4124;
  }
  
  #customers td, #customers th {
    border: 4px solid #ddd;
    padding: 9px;
  }
  
  
  
  #customers th {
    margin-top: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #53b3c4;
    color: white;
  }
  