* {
    margin: 0;
    padding: 0;
  }

.nav-area{
   
    float:right;
    list-style: none;
    margin-top: 20px;
    margin-right: 5%;
}
.nav-area li{ 
    display:inline-block;
}
.nav-area li a{
    
    background-color: rgb(230, 220, 219);
    text-decoration:rgb(13, 9, 21);
    font-size: 130%;
    font-family: poppins;
    border-radius: 7px;
    padding:5px 20px;
    color: rgb(32, 51, 50);
}
.nav-area li a:hover{
    background: rgb(45, 221, 204);
    color: rgb(14, 11, 10);
}
h1.heading{
   
  color: #88B04B;
  margin-left: 1mm;
  font-size: 200%;
  font-family: "Comic Sans MS", cursive, sans-serif,"Trebuchet MS",Helvetica, sans-serif;
  font-style: initial;
  font-variant: normal;
  padding: 5px 10px;
}
.container{
 
}
.matter{
  margin-top:70px ;
  margin-left: 300px;
  font-size: 30px;
  color: #45B8AC

}
.tbutton{
  margin-top: 40px;
  margin-left: 600px;
  padding: 15px 30px;
  border-radius: 8px;
  color: #9B2335;
  font-size: 23px;
  font-weight: bold;
}

.contain{
   background-color: rgb(15, 33, 60);
   padding:5px 30px;
}
#welcome{
  color: #FF6F61;
  margin-left: 420px;
  margin-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
}
body{
  background:url(image.jpg) no-repeat;
  height:594px;
   background-size: cover;
}
